on:
  push:
    branches: master

jobs:
  version-up:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: yarn install
      - name: Set git account
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
      - name: Version up
        run: yarn standard-version
      - name: Push
        run: git push origin master
      - name: Tag push
        run: git push --tags